{% load static %}
<!-- ========== 2. NOTRE HISTOIRE ========== -->
<section id="histoire" class="pb-24 pt-4 bg-white">
    <div class="max-w-7xl mx-auto px-4">

        <div class="grid md:grid-cols-2 gap-12 items-center">
            <div data-aos="fade-right" data-aos-duration="800">
                <span class="inline-block text-yellow-500 text-sm font-semibold tracking-[0.2em] uppercase mb-3">Notre
                    histoire</span>
                <h2 class="text-3xl md:text-4xl font-bold text-blue-900 mb-6 leading-tight">
                    Une vision née d'une tragédie
                </h2>
                <div class="space-y-4 text-gray-600 leading-relaxed border-l-4 border-yellow-400/40 pl-6">
                    <p>
                        En <strong class="text-blue-900">1990</strong>, une caravane de jeunes du Kongo Central se
                        rendait à
                        Kinshasa
                        pour s'inscrire à l'université. Un accident tragique coûta la vie à plusieurs d'entre eux.
                    </p>
                    <p>
                        Touché par ce drame, le <strong class="text-blue-900">Révérend Masamba Mampolo</strong> prit une
                        décision
                        qui allait changer l'enseignement supérieur dans la région : offrir aux jeunes de Kimpese
                        et ses environs une université de proximité.
                    </p>
                    <p>
                        C'est ainsi qu'en <strong class="text-blue-900">1995</strong>, l'UPK ouvrit ses portes sur un
                        site
                        historique
                        hérité du CECO/KETI, avec pour devise :
                        <span class="text-yellow-500 font-bold">Foi – Science – Excellence</span>.
                    </p>
                    <p>
                        Aujourd'hui, plus de 30 ans après sa fondation, l'UPK continue de former des générations
                        de leaders, d'entrepreneurs et de professionnels au service de la RDC et de l'Afrique.
                    </p>
                </div>
            </div>
            <div class="group relative bg-linear-to-br from-blue-900 to-blue-950 p-2 rounded-4xl shadow-2xl"
                data-aos="fade-left" data-aos-duration="800" data-aos-delay="200">
                <div class="rounded-3xl overflow-hidden">
                    <img src="{% static 'images/fondateur.jpeg'}" alt="Révérend Masamba Mampolo - Fondateur"
                        class="w-full h-96 object-cover transition-transform duration-700 group-hover:scale-105" />
                    <div class="p-6 bg-blue-900 text-center">
                        <p class="text-white font-semibold">Révérend Masamba Mampolo</p>
                        <p class="text-yellow-400 text-sm">Père fondateur de l'UPK</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>